section{
    display: flex;
}
.color{
    color: coral;
}

h1{
    font-size: 40px;
}

.stay-focus{
    width: 50%;
    padding-left: 20px;
    font-size: x-large;
}

.stay-focus img{
    width: 80%;
    padding-left: 10%;
}

.develop-limit{
    width: 56%;
    font-size: x-large;
    margin-right: -200px;
}
.develop-limit img{
    width: 55%;
    padding-left: 20px;
}

.global-community{
    width: 56%;
    font-size: x-large;
    padding-left: 20px;
    margin-right: -70px;
}

.global-community img{
    width: 65%;
    padding-left: 160px;
}

.button{
    background-color: rgb(236, 78, 15);
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.border-left{
    border-left: 5px solid red;
}
.missions-heading{
   padding-left: 37%;
   font-size: x-large;
}
.radius2{
    border-radius: 15px;
    padding: 10px;
height: 340px;
width: 300px;
margin: 20px;
width: 33%;
}
.radius2 img{
    width: 30%;
}
#mission{
    background-color: rgb(165, 252, 243);
}
#vision{
    background-color: rgb(248, 161, 248) ;
}
#goals{
    background-color: rgb(248, 217, 195);
}